<img src="{{url_for('static', filename='thecakeisalie.jpg')}}" />
<h2>Recipe</h2>
1 (18.25-ounce) package chocolate cake mix<br>
1 can prepared coconut–pecan frosting<br>
3/4 cup vegetable oil<br>
4 large eggs<br>
1 cup semi-sweet chocolate chips<br>
3/4 cup butter or margarine<br>
1 2/3 cup granulated sugar<br>
2 cups all-purpose flour<br>
fish-shaped crackers<br>
fish-shaped candies<br>
fish-shaped solid waste<br>
fish-shaped dirt<br>
fish-shaped ethylbenzene<br>
pull-and-peel licorice<br>
fish-shaped volatile organic compounds and sediment-shaped sediment<br>
candy-coated peanut butter pieces (shaped like fish)<br>
1 cup lemon juice<br>
alpha resins<br>
unsaturated polyester resin<br>
fiberglass surface resins and volatile malted milk impoundments<br>
9 large egg yolks<br>
12 medium geosynthetic membranes<br>
1 cup granulated sugar<br>
an entry called: “how to kill someone with your bare hands”<br>
2 cups rhubarb, sliced<br>
2/3 cups granulated rhubarb<br>
1 tbsp. all-purpose rhubarb<br>
1 tsp. grated orange rhubarb<br>
3 tbsp. rhubarb, on fire<br>
1 large rhubarb<br>
1 cross borehole electromagnetic imaging rhubarb<br>
2 tbsp. rhubarb juice<br>
adjustable aluminum head positioner<br>
slaughter electric needle injector<br>
cordless electric needle injector<br>
injector needle driver<br>
injector needle gun<br>
cranial caps<br>